.movie-header-details{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.movie-poster-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:auto;
  max-width: 1100px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  
}

.movie-poster-details img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.movie-description{
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}


main {
   display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.cast-crew-section{
  width: 60vw;
}

.cast-crew-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.cast-crew-list li{
  list-style-type: none;
  scroll-snap-align: center;
}

.cast-crew-list img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}