.movie-header-details{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.movie-poster-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:auto;
  max-width: 1100px;
  
  border-radius: 10px;
  overflow: hidden;
  background-color: green;
  
}

.movie-poster-details img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.movie-description{
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}


